/* Kyle N. Smith */


/*body {
	font-family: fantasy;
	background-size:100% auto;
  background: url(07197.jpg);
  background-repeat: repeat;
}




body a:link {
	color: black;
}

a {
	text-align: center;
	text-decoration: none;
	margin: auto;
}

h4 {
	text-align: center;
	text-decoration: none;
	margin: auto;
}

ul {
	list-style-type: none;
}

*/

#lkdin {
	width: 4%;
}


/*.access {
	font-size: 3vw;
	text-align: center;
	}

.menu {
	display: inline;
	height: 4vw;
	top: -2%;
	left: -13%;
	width: 100%;
	font-family: fantasy;
	background: transparent;
	
	
}

.pic {
	float: right;
	border-radius: 100%;
	width: 25%;
	display: inline;
	margin: -100px, 10vw, 0, 0;
	/*vertical-align: 3vw;*/
/*}

#kns-pic {
	float: right;
	border-radius: 100%;
	width: 100%;
	display: inline;
}

#about-text {
	display: block;
	clear:left;
	font-size: 2.5vw;
}

h1 {
	font-size: 7.5vw;
	padding: 0;
	margin: 0;
}
h2 {
	font-size: 5vw;
	padding: 0;
	margin: 0;
}

h4 {
	font-size: 3.5vw;
	padding: 0;
	margin: 0;
}


p {
	font-size: 2vw;
	/*padding: 0;
	margin: 0;*/
/*}*/

/*hr { 
  height: 30px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 1px 0 0 0; 
  border-radius: 20px; 
} 
hr:before { 
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 0 0 1px 0; 
  border-radius: 20px; 
}

.menu a:link, a:visited, a:active {
	color: black;
	text-decoration: none;
}


.menu a:hover {
	color: #999;
}*/

#round {
	border-radius: 100%;
}
/*

.menu img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.menu img:hover {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.footer img {
	margin: auto;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.footer img:hover {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.menu li { 

	float: left;
	display: block;
	padding: 0vw 2vw;
	margin: auto;
	font-size: 2vw;
	color: white;
	text-align: center;
	vertical-align: top;
	overflow: hidden;
	z-index: 5;

}

.menu img {
	float: right;
	display: block;
	overflow: hidden;
	margin: 0;
	margin-right: 1%;
	
	
}

.center {
	text-align: center;
}


.size{
	clear: both;
	display: inline;
 	width: 99%;
 	height: 100vw;
 }

#div-0 {
	display: block;
	background-image: none;
}
#div-1 {
	background-image: none;
	display: block;
}
#div-2 {
	background-image: url(LC.png);
	background-size:100% auto;
	background-repeat: no-repeat;
	display: block;
}
#div-3 {
	background-image: none;
	display: block;
}
#div-4 {
	background-image: url(news.png);
	background-size:100% auto;
	background-repeat: no-repeat;
	display: block;
}
#div-5 {
	background-image: none;
	display: block;
}
#div-6 {
	background-image: none;
	display: block;
}
#div-7 {
	background-image: none;
	display: block;
}
#div-8 {
	background-image: url(bowie-box.png);
	background-size:100% auto;
	background-repeat: no-repeat;
	display: block;
}
#div-9 {
	background-image: url(rmbr.png);
	background-size:100% auto;
	background-repeat: no-repeat;
	display: block;
}
*/